kernel/lenovo/kirby/prebuilts/build-tools/common/framework/ktfmt.jar filter=lfs diff=lfs merge=lfs -text
kernel/lenovo/kirby/prebuilts/clang/host/linux-x86/clang-r487747c/lib/libLTO.so.17 filter=lfs diff=lfs merge=lfs -text
kernel/lenovo/kirby/prebuilts/** filter=lfs diff=lfs merge=lfs -text
